
  body {
    color: white;
    background-color: rgb(21, 32, 43);}

.container {
    margin-left: 50px;
}

span#navmenu {position: fixed;
top: 25px;
margin: 0px;
padding: 5px;
left: 0;
    font-size: 16px;
  }

  span#navmenu2 {font-size: 14px;
    position: fixed;
    top: 30px;
    right: 0;
 padding: 4px;
    margin: 4px;
     }

     span#motaccueil {
     margin-right: 50px;
      font-size: 17px;
      margin: 60px;
      position: relative;
      
     top: -30px;
    }

    a:hover {
        background-color: rgba(0, 81, 255, 0.445);
      }

      .col {
        position: relative;
       top: -20px;
       margin-top: 10px;
   top: -80px;
       padding: 10px;
       text-align: center;
    }
   
    .row {margin: 20px;
     }

     .border {justify-content: space-between;}

    .texttweet {
      position: relative;
     top:-50px;
     margin: 0 auto;
     text-align: center;
     margin-top: 0px;
  }
  .etoile{
    widht: 25px;
    height: 25px;
  }


  span#logosimp {position: relative;
  right: -5px;}

  span#logosimp2 {position: relative;
    right: -15px;
  top: 100px;}

  div#iconetoile {
   margin-right: 1000px;
   position: relative;
   font-size: 10px;
   margin: 10px;
   margin-top: -50px;
  }

  span#hashtag {color: dodgerblue;}

  span#et {color:white;}

  .texttweet2 {
    position: relative;
   top:-50px;
   margin: 0 auto;
   text-align: center;
   margin-top: 0px;}

   span#you {color:dodgerblue}

   p{color:dodgerblue;
  font-size: 14px;
text-align: center;}

  .rounded-circle{border-radius: 30%;
  position: absolute;
  margin-top: -140px;
  margin-left: -10px;
}

.infoprofil{text-align: left;
font-size: 15px;
position: absolute;
top: 250px;
left: 130px;
 

